/* cart container */
.cart {
    position: fixed;
    top: 150px;
    right: 10px;
    border-radius: 5px;
    width: 23%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    min-height: 250px;
    text-align: center;
}
.hired-scientist {
    padding: 10px;
}
.hired-scientist small {
    display: block;
    margin-bottom: 1.2rem;
    box-shadow: 5px 5px 5px rgba(105, 92, 92, 0.493);
}
.cart-button {
    font-size: 3rem;
    color: hsl(38, 98%, 49%);
    width: 100%;
    padding-bottom: 0;
}


